.about-page {
    min-height: 100vh;
    margin: 50px auto 0 auto;
    width: 70%;
    color: #343a40;
}

.title {
    margin: 50px 0;
    font-weight: 400;
}

.tagLines {
    margin: 30px auto;
    /* color: #343a40; */
    word-spacing: 3.5px;
    font-size: 25px;
    line-height: 40px;
}