#time-container {
  width: 20%;
  min-height: 60vh;
  background-color: #1da1f2;
  border-radius: 10px;
  overflow: auto;
}

.list-item {
  font-size: 1.8vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  width: 100%;
  padding: 0;
}

.list-item > li {
  list-style-type: none;
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

.list-item > li:hover {
  background-color: #ccf8fc;
}
