
@media all and (min-width: 768px) {
    .trends-cont {
        display: flex;
        overflow-x: auto;
        margin-left: 20px ;
        margin-bottom: 50px;
    }
    
    div.card {
        display: flex;
        flex-direction: column;
        margin: 5px 20px;
        height: fit-content;
        border-radius: 5px;
        background-color: #fff;
        /* width: 250px; */
        border: 1px solid #eee;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    }
    
    div > h4 {
        text-align: center;
        white-space: nowrap;
        border-bottom: 1px solid #ddd;
        /* height: 25px; */
        font-size: 1.2em;
        /* margin: 0 7px; */
        padding: 8px;
    }
    
    .tweet-names {
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: column;
        /* margin: 0 5px; */
        padding: 9px;
        list-style: none;
        border-bottom: 1px solid #ddd;
        white-space: nowrap;
        font-size: 1em;
    }

    .tweet-volume {
        font-size: 0.8em;
        font-family: montserrat;
        padding-top: 2px;
        padding-left: 6px;
    }

    .tweet-names:hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }
}
