
@media all and (min-width: 768px) {
    .trends-cont {
        display: flex;
        overflow-x: scroll;
        position: relative;
        margin: 0 0 50px 20px;
    }

    .scroll-buttons {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }

    .right-button {
        font-size: 2.5em;
        cursor: pointer;
    }

    .left-button {
        cursor: pointer;
        font-size: 2.5em;
    }
    
    div.card {
        display: flex;
        flex-direction: column;
        margin: 40px 20px;
        height: fit-content;
        border-radius: 5px;
        background-color: #fff;
        /* width: 250px; */
        border: 1px solid #eee;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    }
    
    div > h4 {
        text-align: center;
        white-space: nowrap;
        border-bottom: 1px solid #ddd;
        font-size: 1.1em;
        padding: 8px;
    }
    
    .tweets {
        counter-reset: count;
    }
    
    .tweet-names {
        display: grid;
        grid-template-areas: "left top"
                            "left bottom";
        padding: 9px;
        justify-content: flex-start;
        list-style: none;
        text-decoration: none;
        border-bottom: 1px solid #ddd;
        white-space: nowrap;
        color: #000;
        position: relative;
        font-size: 1em;
    }

    .tweet-volume {
        font-size: 0.8em;
        font-family: montserrat;
        padding-top: 2px;
        grid-area: bottom;
    }

    .tweet-names:hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }

    .tweet-names:last-child {
        border-bottom: none;
    }

    .index {
        grid-area: left;
        align-self: center;
        font-size: 0.8em;
        padding-right: 10px;
        padding-left: 2px;
    }

    .tweet-names::before {
        grid-area: left;
        align-self: center;
        font-size: 0.8em;
        padding-right: 10px;
        padding-left: 2px;
        counter-increment: count;
        content: counter(count);
    }

    /* .tweet-names-1::after {
        content: 'aaaaaa';
        position: absolute;
        right: 0;
        top: 50;
    } */

    .tweet-names-1::before {
        font-size: 1.7em;
    }
    .tweet-names-2::before {
        font-size: 1.4em;
    }
    .tweet-names-3::before {
        font-size: 1.3em;
    }
}
