#container {
  width: 65%;
  height: 45vh;
  background-color: #ccf8fc;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
}

#container > p {
  font-size: 20px;
}

/* .drop-down {
  border: none;
  border-radius: 2px;
  font-size: 1.2em;
} */
