.nav {
  background-color: #1da1f2;
  height: 70px;
  border: none;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
}

.nav > #logo {
  font-size: 25px;
  margin-left: 35px;
  align-self: center;
}

h4:hover {
  cursor: pointer;
}

.nolist {
  display: none;
}

.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: max-content;
  list-style-type: none;
  position: absolute;
  transition: height 2s;
  transition-delay: 1s;
  top: 50px;
  grid-template-areas: "header header header header header";
  background-color: #f1f1f1;
  height: 7vh;
  overflow: hidden;
  width: 100%;
}

#icondrop {
  position: relative;
  top: 5px;
  margin-left: 5px;
}

.rotateicon {
  transform: rotate(180deg);
  transition: transform 0.7s;
}

.norotate {
  transform: rotate(0);
  transition: transform 0.7s;
}

.searchBox {
  grid-area: header;
  width: 300px;
  height: 30px;
  margin-right: 35px;
  margin-top: 8px;
  justify-self: right;
}

.list:hover {
  height: 100vh;
}
.country {
  margin-right: 35px;
  cursor: pointer;
  align-self: center;
}

ul > .list-items {
  border-bottom: 2px solid #b8f3f5;
  cursor: pointer;
  font-size: 1.5em;
}

ul > .list-items:hover {
  background-color: #fad2d2;
}
