#content {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 30px auto;
  }
  
  #graph-container {
    width: 70%;
    height: 60vh;
    background-color: #1da1f2;
    border-radius: 10px;
  }

  #time-container {
    width: 20%;
    min-height: 60vh;
    background-color: #1da1f2;
    border-radius: 10px;
    overflow: auto;
  }
  
  .list-item {
    font-size: 1.8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    width: 100%;
    padding: 0;
  }
  
  .list-item > li {
    list-style-type: none;
    cursor: pointer;
    padding: 10px;
    text-align: center;
  }
  
  .list-item > li:hover {
    background-color: #ccf8fc;
  }
  
  #foot-container {
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    background-color: #3a3a3a;
    color: #f1f1f1;
    align-items: center;
    margin-top: 25px;
  }
  
  #foot-container > p {
    padding: 20px;
    cursor: pointer;
    font-size: 1.5rem;
  }
  
  #container {
    width: 65%;
    height: 45vh;
    background-color: #ccf8fc;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
  }
  
  #container > p {
    font-size: 20px;
  }
  
  /* .drop-down {
    border: none;
    border-radius: 2px;
    font-size: 1.2em;
  } */
  
  .login {
    display: flex;
    justify-content: center;
    margin: 25px 0;
  }
  
  .tag-line {
    font-weight: 450;
  }
  
  .button {
    height: 45px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15px;
    left: 25px;
    background-color: #1da1f2;
    width: 120px;
    color: #000;
    font-weight: bolder;
    text-decoration: none;
  }
  
  .icons {
    position: relative;
    top: 5px;
    margin-left: 8px;
  }
  .nav {
    background-color: #1da1f2;
    height: 70px;
    border: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
  }
  
  .nav > #logo {
    font-size: 25px;
    margin-left: 35px;
    align-self: center;
  }
  
  h4:hover {
    cursor: pointer;
  }
  
  .nolist {
    display: none;
  }
  
  .list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: max-content;
    list-style-type: none;
    position: absolute;
    transition: height 2s;
    transition-delay: 1s;
    top: 50px;
    grid-template-areas: "header header header header header";
    background-color: #f1f1f1;
    height: 7vh;
    overflow: hidden;
    width: 100%;
  }
  
  #icondrop {
    position: relative;
    top: 5px;
    margin-left: 5px;
  }
  
  .rotateicon {
    transform: rotate(180deg);
    transition: transform 0.7s;
  }
  
  .norotate {
    transform: rotate(0);
    transition: transform 0.7s;
  }
  
  .searchBox {
    grid-area: header;
    width: 300px;
    height: 30px;
    margin-right: 35px;
    margin-top: 8px;
    justify-self: right;
  }
  
  .list:hover {
    height: 100vh;
  }
  .country {
    margin-right: 35px;
    cursor: pointer;
    align-self: center;
  }
  
  ul > .list-items {
    border-bottom: 2px solid #b8f3f5;
    cursor: pointer;
    font-size: 1.5em;
  }
  
  ul > .list-items:hover {
    background-color: #fad2d2;
  }
  