* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::after,
*::before {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&family=Roboto&display=swap");

body, html {
  /* height: 100%;
  width: 100%; */
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

#body-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#landing-page {
  flex: 1 0 auto;
  min-height: 100vh;
}

#foot-container {
  flex-shrink: 0;
}

#foot-container > .foot-links {
  cursor: pointer;
  text-decoration: none;
  color: #f1f1f1;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00a2f5;
  height: 50px;
  color: #fff;
}

nav > #logo {
  transform: translateX(25%);
  text-decoration: none;
  color: #f1f1f1;
  font-size: 25px;
  /* font-weight: 600; */
}

.links{
  display: none;
}

.menu-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 3px solid #000; */
  height: 25px;
  margin-left: 8px;
  width: 25px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  z-index: 2;
}


.menu-btn__burger{
  background-color: #fff;
  height: 3px;
  width: 20px;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after{
  content: '';
  position: absolute;
  /* left: 10px; */
  width: 20px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before{
  transform: translateY(-7px);
}

.menu-btn__burger::after{
  transform: translateY(7px);
}

.menu-btn.showCross .menu-btn__burger{
  transform: translateX(35px);
  background: transparent;
}

.menu-btn.showCross .menu-btn__burger::before{
  transform: rotate(45deg) translate(-25px, 25px);
}

.menu-btn.showCross .menu-btn__burger::after{
  transform: rotate(-45deg) translate(-25px, -25px);
}

.countryName {
  display: none;
}

span > #icondrop {
  display: none;
}

div> #searchIcon {
  margin-right : 6px; 
  margin-top: 3px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 12px;
  transition: color 0.5s;
  right: 10px;
}

div > .black {
  color: #000;
}

div > .showSearch {
  display: block;
  border: 1px solid #000;
  height: 30px;
  width: 150px;
  margin-right: 8px;
  transition: width 0.5s;
  padding: 10px;
  outline: none;
  border-radius: 15px;
}

div > .noSearch {
  width: 0;
  transition: width 0.5s;
  border: none;
  height: 30px;
  outline: none;
  border-radius: 15px;
  margin-right: 11px; 
  
}

.sideContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  /* transition: all 1s ease-out; */
  list-style-type: none;
  background-color: #00a2f5;
  /* border-radius: 0 0 250px 0 ; */
}
/* 
.sideContainer>ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
} */

.showMenu {
  height: 110vh;
  width: 100vw;
  z-index: 1;
  transition: clip-path 0.5s ease-out;
  clip-path: circle(620px at 10% 10%);
  -webkit-clip-path: circle(620px at 10% 10%);
}

.hideMenu {
  left: -80px;
  height: 0;
  width: 0;
  transition: all 0.5s ease-out;
  clip-path: circle(100px at 10% 10%);
  -webkit-clip-path: circle(100px at 10% -10%);
}

.nav-links{
  font-size: 25px;
}

.nav-links:hover{
  transform: scale(1.1);
}

.ul-list-items {
  position: absolute;
  color: #fff;
  overflow: hidden;
  top: 50px;
  right:0 ;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #00a2f5;
}

.list {
  z-index: 1;
  transition: all 0.4s ease-out;
}

.nolist {
  position: absolute;
  top: 50px;
  /* right: -50px; */
  transition: width 0.4s ease-in-out;
  width: 0;
}

div.cities{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

h2.countriesNames {
  display: inline-block;
  margin-left: 30px;
  cursor: pointer;
}

h2.countriesNames:hover{
  transform: scale(1.2);
}

ul.citiesNames {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.citiesNames>li{
  margin: 8px;
}

.c-name {
  text-decoration: none;
  color: #fff;
  letter-spacing: 2.5px;
}

.citiesNames>li:hover{
  transform: scale(1.2);
}

div>hr{
  width: 80vw;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.list-items {
  /* margin: 3px 25px; */
  font-size: 0.9em;
  border-bottom: 0.8px solid #fff;
  padding: 8px 8px 4px;
}


#header-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

img.head-image{
  height: 150px;
  width: 150px;
}

.tag-line{
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 6px;
}

h1 span::before{
  content: "\A";
  white-space: pre;
}

/* #time-container>.list-item {
  font-size: .8em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  white-space: nowrap;
  overflow-x: auto;
  padding: 0 5px;
}

.list-item>li {
  list-style-type: none;
  cursor: pointer;
  padding: 7px 5px;
  text-align: center;
} */


#time-container {
  color: #00a2f5;
  background-color: #fff;
  overflow: auto;
  margin: 20px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 -5px 10px rgba(0, 0, 0, 0.1);
}

#time-container>.list-item {
  font-size: .8em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  white-space: nowrap;
  overflow-x: auto;
  padding: 0 5px;
}

#time-container > ul::-webkit-scrollbar {
  height: 11px;
}

#time-container > ul::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #fff;
}

/* #time-container > .scroll-icon {
  float: right;
  margin: 11px;
  cursor: pointer;
  font-size: 1.8em;
} */

.list-item>li {
  list-style-type: none;
  cursor: pointer;
  padding: 7px 5px;
  text-align: center;
}

.list-item > li:hover {
  background-color: #ccf8fc;
}

#Trends-container{
  display: flex;
  justify-content: center;
}

#Trends-container >.ol-list{
  margin: 20px 0;
  list-style-type: none;
}

#Trends-container > .ol-list > li {
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 -3px 5px rgba(0, 0, 0, 0.2);
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 35px;
  border: .8px solid #000;
} 

#Trends-container > .ol-list > li:hover {
  transform: scale(1.1);
}

#foot-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  height: 50px;
  background-color: #343a40;
}

@media all and (min-width : 768px) {
  .nav {
    background-color: #00a2f5;
    grid-area: navbar;
    color: #fff;
    height: 60px;
    border: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1.8px;
  }

  nav > #logo {
    transform: translateX(70%);
  }

  div> #searchIcon {
    margin-right : 6px; 
    margin-top: 3px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 17px;
    transition: color 0.5s;
    right: 10px;
  }

  div > .showSearch {
    width: 200px;
  }

  .ul-list-items {
    top: 60px;
    width: 100vw;
  }

  .list { 
    z-index: 1;
    transition: width 0.5s ease-out;
  }

  .nolist {
    top: 60px;
    width: 0;
    transition: width 0.5s ease-out;
  }

  #header-container{
    margin: 25px 0;
  }
  
  img.head-image{
    height: 175px;
    width: 175px;
  }
  
  .tag-line{
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 6px;
  }
  
  h1 span::before{
    content: "\A";
    white-space: pre;
  }
}

@media all and (min-width : 1024px){
  body {
    font-family: "Montserrat", sans-serif;
    height: 100%;
    font-family: "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
  }

  #body-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  

  .nav {
    background-color: #00a2f5;
    grid-area: navbar;
    color: #fff;
    height: 70px;
    border: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2px;
  }
  
  .menu-btn{
    display: none;
  }
  
  .nav > #logo {
    font-size: 25px;
    color: #f1f1f1;
    text-decoration: none;
  }
  
  .links {
    text-decoration: none;
    margin: 0 50px;
    display: block;
    color: #f1f1f1;
  }
  
  h3.links{
    margin: 0 50px;
    display: block;
    cursor: pointer;
  }
  
  .nav>span {
    flex: 1;
  }

  div> #searchIcon {
    margin-right : 10px;
    margin-top: 3px;
    font-size: 22px;
    cursor: pointer;
    position: absolute;
    transform: translateY(50%);
    right: 20px;
    top: 10px;
  }

  div > .showSearch {
    display: block;
    border: 1px solid #000;
    height: 35px;
    width: 250px;
    margin-right: 20px;
    transition: width 0.4s;
    padding: 12px;
    outline: none;
    border-radius: 18px;
  }
  
  div > .noSearch {
    width: 0;
    transition: width 0.4s;
    border: none;
    height: 35px;
    outline: none;
    border-radius: 18px;
  }

  .ul-list-items {
    position: absolute;
    color: #fff;
    top: 70px;
    right: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #00a2f5;
  }

  div.cities{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  h2.countriesNames {
    display: inline-block;
    margin-left: 30px;
    cursor: pointer;
  }

  h2.countriesNames:hover{
    transform: scale(1.2);
  }
  ul.citiesNames {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .citiesNames>li{
    margin: 8px;
    cursor: pointer;
  }

  .citiesNames>li:hover{
    transform: scale(1.2);
  }

  div>hr{
    width: 80vw;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 -5px 10px rgba(0, 0, 0, 0.1);
  }

  .list {
    z-index: 1;
    transition: all 0.5s ease-out;
  }

  .nolist {
    position: absolute;
    top: 70px;
    right: -50px;
    transition: width 0.5s ease-in-out;
    width: 0;
  }

  .list-items {
    font-size: 1.2em;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    padding: 10px 10px 4px;
  }

  #header-container{
    margin: 50px 0;
  }

  .tag-line{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.5cm;
    letter-spacing: 10px;
  }
  
  img.head-image{
    height: 250px;
    width: 350px; 
  }

  #foot-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    height: 70px;
    background-color: #343a40;
  }

  /* #foot-container > p {
    cursor: pointer;
  } */

  /* #header-container {
    width: 55vw;
    height: 30vh;
    background-color: #ccf8fc;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 1.3rem;
  }
  
  #content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-template-rows: auto;
    grid-template-areas:
      "time time time"
      "graph graph trends";
  }
  
  #time-container {
    grid-area: time;
    color: #000;
    background-color: #fff;
    overflow: auto;
    margin: 20px 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 -10px 20px rgba(0, 0, 0, 0.3);
  }
  
  #time-container > .list-item {
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    white-space: nowrap;
    overflow-x: auto;
    padding: 0 10px;
  }
  
  #time-container > ul::-webkit-scrollbar {
    height: 12px;
  }
  
  #time-container > ul::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f1f1f1;
  }
  
  #time-container > .scroll-icon {
    float: right;
    margin: 11px;
    cursor: pointer;
    font-size: 1.8em;
  }
  
  #Trends-container {
    grid-area: trends;
    border: 1px solid black;
    height: 60vh;
    border-radius: 10px;
    width: 25vw;
    position: relative;
    overflow: auto;
  }
  
  #Trends-container > .heading {
    text-align: center;
    border-bottom: 1px solid #2f3640;
    padding: 10px;
  }
  
  #Trends-container > .ol-list {
    padding: 0;
  }
  
  #Trends-container > .ol-list > li {
    padding: 5px;
    border-bottom: 1px solid #2f3640;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    counter-increment: tc1;
  }
  
  #Trends-container > .ol-list > li:last-child {
    border-bottom: none;
  }
  
  #Trends-container > .ol-list > li:nth-child(even) {
    background-color: #03fcc2;
  }
  
  #Trends-container > .ol-list > li::before {
    content: counter(tc1);
    margin-right: 1em;
    font-size: 0.8em;
    width: 1.6em;
    margin-left: 0.6em;
    display: inline-block;
    font-weight: 200;
  }
  
  #graph-container {
    height: 60vh;
    grid-area: graph;
    background-color: #f1f1f1;
    border-radius: 50px;
    margin: 0 35px;
  }
  
  #graph-container > .barchart {
    margin: 30px 40px;
  }
  
  .list-item > li {
    list-style-type: none;
    cursor: pointer;
    padding: 10px;
    text-align: center;
  }
  
  .list-item > li:hover {
    background-color: #ccf8fc;
  }
  
  .loading {
    text-align: center;
    height: 60vh;
    position: relative;
    grid-area: graph;
  }
  
  .loading-icon {
    font-size: 2.3em;
    position: absolute;
    top: 50%;
    vertical-align: middle;
    animation: rotation 2.5s infinite ease-out;
  }
  
  .loadings {
    text-align: center;
    height: 60vh;
    position: relative;
    grid-area: trends;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  #foot-container {
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    background-color: #2f3640;
    box-shadow: rgba(0, 0, 0, 0.3);
    color: #f1f1f1;
    align-items: center;
    position: relative;
    width: 100%;
    bottom: 0;
  }
  
  #foot-container > p {
    padding: 20px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  #container > p {
    font-size: 20px;
  }
  
  #login-container {
    display: flex;
    justify-content: center;
    margin: 45px 0;
  }
  
  .tag-line {
    font-weight: 450;
  }
  
  .twitter-button {
    height: 45px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 25px;
    border: 2px solid #2f3640;
    background-color: #ccf8fc;
    width: 120px;
    color: #000;
    font-weight: bolder;
    text-decoration: none;
  }
  
  .icons {
    position: relative;
    top: 5px;
    margin-left: 8px;
  }
  
  
  h4:hover {
    cursor: pointer;
  }
  
  
  ul > .list-items {
    border-bottom: 1px solid #b8f3f5;
    cursor: pointer;
    font-size: 1.1em;
    padding: 10px 10px 5px 10px;
  }
  
  ul > .list-items:hover {
    background-color: #454545;
  }
  
  #icondrop {
    position: relative;
    top: 5px;
    margin-left: 2px;
  }
  
  .rotateicon {
    transform: rotate(90deg);
    transition: transform 0.3s;
  }
  
  .norotate {
    transform: rotate(0);
    transition: transform 0.3s;
  }
  
  .country {
    margin-right: 35px;
    cursor: pointer;
    align-self: center;
  }
  
  .searchContainer {
    display: flex;
    grid-area: header;
    background-color: #f1f1f1;
  }
  
  .searchBox {
    width: 350px;
    border: 2px solid #2f3640;
    height: 40px;
    margin: 10px;
    padding: 15px 15px 15px 40px;
    font-size: 1.2em;
    justify-self: left;
    outline: none;
    border-radius: 25px;
  }
  
  .searchBox:focus {
    outline: none;
  }
  
  .searchIcon {
    font-size: 1.4rem;
    position: absolute;
    left: 20px;
    color: #2f3640;
    align-self: center;
  }
  
  span .line-icon {
    vertical-align: middle;
    position: relative;
    left: 5px;
  }   */
}
.location_menu_country_list {
  list-style-type: none;
  padding:12px 24px;
}
.location_menu_country_list > li{
  padding:10px;
  overflow:hidden;
  border-bottom: 1px solid #bdbdbd;
}
h5{
  text-transform: uppercase;
  font-size:.8rem;
}

.location_menu_city_list > li{
  display: inline-block;
  margin-right: 1rem;
  line-height: 1.5em;
}
