* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::after,
*::before {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&family=Roboto&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

#body-container {
  position: relative;
  /* min-height: 100vh; */
}

#header-container {
  width: 55vw;
  height: 30vh;
  background-color: #ccf8fc;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 1.3rem;
}

#content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  grid-template-rows: auto;
  grid-template-areas:
    "time time time"
    "graph graph trends";
}

#time-container {
  grid-area: time;
  /* width: 100vw; */
  color: #000;
  /* min-height: 60vh; */
  background-color: #fff;
  overflow: auto;
  margin: 20px 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 -10px 20px rgba(0, 0, 0, 0.3);
}

#time-container > .list-item {
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* flex-grow: 1; */
  /* width: 100%; */
  white-space: nowrap;
  overflow-x: auto;
  padding: 0 10px;
}

#time-container > ul::-webkit-scrollbar {
  height: 12px;
}

#time-container > ul::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f1f1f1;
}

#time-container > .scroll-icon {
  /* position: relative; */
  float: right;
  margin: 11px;
  cursor: pointer;
  /* vertical-align: middle; */
  font-size: 1.8em;
  /* top: -10px; */
}

#Trends-container {
  grid-area: trends;
  border: 1px solid black;
  height: 60vh;
  border-radius: 10px;
  width: 25vw;
  position: relative;
  overflow: auto;
}

#Trends-container > .heading {
  text-align: center;
  border-bottom: 1px solid #2f3640;
  padding: 10px;
}

#Trends-container > .ol-list {
  padding: 0;
  /* list-style-type: none; */
}

#Trends-container > .ol-list > li {
  padding: 5px;
  border-bottom: 1px solid #2f3640;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  counter-increment: tc1;
}

#Trends-container > .ol-list > li:last-child {
  border-bottom: none;
}

#Trends-container > .ol-list > li:nth-child(even) {
  background-color: #03fcc2;
}

#Trends-container > .ol-list > li::before {
  content: counter(tc1);
  margin-right: 1em;
  font-size: 0.8em;
  width: 1.6em;
  margin-left: 0.6em;
  display: inline-block;
  font-weight: 200;
}

#graph-container {
  height: 60vh;
  grid-area: graph;
  background-color: #f1f1f1;
  border-radius: 50px;
  margin: 0 35px;
}

#graph-container > .barchart {
  margin: 30px 40px;
}

.list-item > li {
  list-style-type: none;
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

.list-item > li:hover {
  background-color: #ccf8fc;
}

.loading {
  text-align: center;
  height: 60vh;
  position: relative;
  grid-area: graph;
}

.loading-icon {
  font-size: 2.3em;
  position: absolute;
  top: 50%;
  vertical-align: middle;
  animation: rotation 2.5s infinite ease-out;
}

.loadings {
  text-align: center;
  height: 60vh;
  position: relative;
  grid-area: trends;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#foot-container {
  display: flex;
  justify-content: space-evenly;
  height: 70px;
  background-color: #2f3640;
  box-shadow: rgba(0, 0, 0, 0.3);
  color: #f1f1f1;
  align-items: center;
  /* margin-top: 25px; */
  position: relative;
  width: 100%;
  bottom: 0;
}

#foot-container > p {
  padding: 20px;
  cursor: pointer;
  font-size: 1rem;
}

#container > p {
  font-size: 20px;
}

#login-container {
  display: flex;
  justify-content: center;
  margin: 45px 0;
}

.tag-line {
  font-weight: 450;
}

.twitter-button {
  height: 45px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 25px;
  border: 2px solid #2f3640;
  background-color: #ccf8fc;
  width: 120px;
  color: #000;
  font-weight: bolder;
  text-decoration: none;
}

.icons {
  position: relative;
  top: 5px;
  margin-left: 8px;
}
.nav {
  background-color: #2f3640;
  color: #fff;
  height: 70px;
  border: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  letter-spacing: 2px;
}

.nav > #logo {
  font-size: 25px;
  margin-left: 35px;
  align-self: center;
  cursor: pointer;
}

h4:hover {
  cursor: pointer;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "header header header";
  list-style-type: none;
  position: absolute;
  top: 70px;
  right: 0;
  background-color: #2f3640;
  z-index: 1;
  width: 50vw;
  /* transform: translateX(0); */
  transition: width 0.5s ease-in;
}

.nolist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "header header header";
  position: absolute;
  top: 70px;
  background-color: #2f3640;
  right: 0;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
  list-style: none;
  /* transform: translateX(100%); */
  width: 0;
}

ul > .list-items {
  border-bottom: 1px solid #b8f3f5;
  cursor: pointer;
  font-size: 1.1em;
  /* margin: 5px; */
  padding: 10px 10px 5px 10px;
}

ul > .list-items:hover {
  background-color: #454545;
}

#icondrop {
  position: relative;
  top: 5px;
  margin-left: 2px;
}

.rotateicon {
  transform: rotate(90deg);
  transition: transform 0.3s;
}

.norotate {
  transform: rotate(0);
  transition: transform 0.3s;
}

.country {
  margin-right: 35px;
  cursor: pointer;
  align-self: center;
}

.searchContainer {
  display: flex;
  grid-area: header;
  background-color: #f1f1f1;
}

.searchBox {
  width: 350px;
  border: 2px solid #2f3640;
  height: 40px;
  margin: 10px;
  padding: 15px 15px 15px 40px;
  font-size: 1.2em;
  justify-self: left;
  outline: none;
  border-radius: 25px;
}

.searchBox:focus {
  outline: none;
}

.searchIcon {
  font-size: 1.4rem;
  position: absolute;
  left: 20px;
  color: #2f3640;
  align-self: center;
}

span .line-icon {
  vertical-align: middle;
  position: relative;
  left: 5px;
}
.cities{
  display:block;
}